/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 30, 2024, 2:05:42 PM
    Author     : lengo
*/

/*=================================================================================================================================*/
:root{
    ---primary-color:#292929;
    --hover-color:#006BA0;
}
img{
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* a{  
    color: #292929;
    text-decoration: none;
    cursor: pointer;
} */

img{
    cursor: pointer;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
.container{
    display: flex;
    width: 1104px;
    margin: 0 auto;
}
.category-title{
    position: relative;
}
.category-title::before{
    position: absolute;
    content: "🔸";
    font-size: 100%;
    left: -6px;
    top: 0;
}


::-webkit-scrollbar {
    width: 4px; /* Set the width of the scrollbar */
}
  
::-webkit-scrollbar-thumb {
    background-color: #000; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Round the corners of the thumb */
}
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the scrollbar track */
}

.visibility{
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition:  transform 0.3s ease;
    z-index: 3;
}
.hidden{
    display: none !important;
}
.active{
    color: var(--hover-color);
}
.blur-box{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    opacity: 0.7;
    overflow: hidden;
}
.fa-bars{
    display: none;
}
/*===========================================================================================*/
.header{
    justify-content: center;;
    align-items: center;
    border-bottom: 1px solid #ccc;
    color: rgb(68,68,68);
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}
.header .container {
    justify-content: space-between;
    align-items: center;
}
.header .navigate{
    height: 100%;
}
.header .navigate ul, .header .navigate ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
.header .navigate a{
    padding: 16px 4px 13px 4px;
    font-weight: 700;
    margin: 0 8px;
    font-size: 1.5rem;
    color: #444444;
    border-bottom: 3.4px solid #fff;
}
.header .navigate a .header-sign{
    width: 24px;
    /* font-size: 1.7rem; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navigate a:hover{
    color: var(--hover-color);
    border-color: var(--hover-color);
}
.header a.active{
    color: var(--hover-color);
    border-color: var(--hover-color);
}
.header .logo{
    width: 180px;
    height: 100%;
}
.header .search{
    font-size: 18px;
    font-weight: 300;
    color: rgb(68,68,68);
}
.header .search:hover{
    color: var(--hover-color);
}
.header .search-frame{
    display: block; 
    position: absolute; 
    right: -4px;
    top: 12px; 
    height: 24px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: -2;
}
.header #search-bar{
    display: none;
    width: 240px; 
    height: 24px; 
    z-index: -1; 
    padding: 16px 32px 16px 16px; 
    background-color: #444; 
    color: #D7D7D7;
    border: 1px solid currentColor; 
    border-radius: 8px;
    initial-value: "hi";
}
/* .header .more-list{
    width: 100vw;
} */
.header .more-list-head{
    display: flex;
    background-color: #141329;
    width: 100%;
    justify-content: center;
    padding: 12px 164px 12px 0;
}
.header .more-list-head td{
    padding: 14px 48px;
}
.header .more-list-head td a{
    font-size: 16px;
    color: #ddd;
    font-weight: 700;
}
.header .more-list-bottom{
    top: 291px;
    display: flex;
    background-color: #333240;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* padding: 12px 164px 12px 0; */
    /* display: none !important; */
}
.header .more-list-bottom li{
    padding: 16px 0;
}
/*=============================================================================================================================*/

.main{
    margin: 50px 0 30px 0;
}
.main .container{
    /* justify-content: space-between; */
    /* width: 100%; */
}
.main .left-main{
    width: 312px;
    /* height: 84px; */
}
.main .left-main .left-main-item{
    display: flex;
}
.main .left-main .left-main-item:not(:last-child){
    padding-bottom: 20px;
}
.main .left-main .left-main-item:not(:first-child){
    padding-top: 12px;
    border-top: 1px solid #c6c6c6;
}
.main .left-main .left-main-item img{
    width: 128;
    height: 82px;
    object-fit: cover;
}
.main .left-main .left-main-item .left-item-title{
    margin-left: 12px;
}
.main .left-main .left-main-item .left-item-title a{
    color: var(---primary-color);
    font-size: 1.44rem;
    line-height: 1.4;
    font-weight: 700;
}
.main .left-main .left-main-item .left-item-title a:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.main .left-main .left-main-item img:hover+.left-item-title a{
    color: var(--hover-color);
    cursor: pointer;
}
.main .center-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    width: 532px;
    margin: 0 20px;
}
.main .center-main img{
    width: 100%;
    height: 328px;
    object-fit: cover;
    object-position: center;
}
.main .center-main .center-title{
    padding: 15px 0 8px 0;
}
.main .center-main .center-title a{
    font-weight: 700;
    font-size: 3.2rem; 
    color: var(---primary-color);   
}
.main .center-main .center-title a:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.main .center-main img:hover+.center-title a{
    color: var(--hover-color);
    cursor: pointer;
}
.main .center-main .center-desc{
    font-size: 1.4rem;
    color: #444;
    line-height: 1.6;
    padding-bottom: 10px;
}
.main .center-main ul{
    position: relative;
}
.main .center-main .link{
    font-size: 1.44rem;
    color: #333;
    font-weight: 700;
    padding: 10px 0px 5px 12px;

}
.main .center-main .link::before{
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 7.5px;
    background-color: #333;
    position: relative;
    left: -12px;
    top: -3px ;
}
.main .center-main .link:hover::before{
    background-color: var(--hover-color);
}
.main .center-main .link:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.main .right-main{
   width: 258px;
}
.main .right-main-item{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}
.main .right-main-item img{
    width: 100%;
    height: 174px;
    margin-bottom: 8px;
    object-fit: cover;
}
.main .right-main-item .right-item-title a{
    color: var(---primary-color);
}
.main .right-main-item .right-item-title a:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.main .right-main-item img:hover+.right-item-title a{
   color: var(--hover-color);
   cursor: pointer;
}

/* ===============================================content - book ==================*/
.content{
    /* margin: 0 auto; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.book{
    width: 100%;
}
.book .container{
    flex-direction: column;
}
.book .book-header{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.book .book-title{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 15px 0 20px;

}
.book .book-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.book .book-item{
    width: 200px;
    /* height: 214px; */
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 235px;
    overflow: hidden;
}
.book .book-item img{
    width: 100%;
    height: 136px;
    object-fit: cover;

}
.book .book-item img:hover+.book-item-title{
    color: var(--hover-color);
    cursor: pointer;
}
.book .book-item .book-item-title{
    display: block;
    padding: 8px 10px 10px 10px;
    color: #333;
    font-size: 14.4px;
    font-weight: 700;
    line-height: 1.3;
}
.book .book-item .book-item-title:hover{
    color: var(--hover-color);
    cursor: pointer;
}
.arrow{
    position: absolute;
    font-size: 16px;
    padding: 8px;
    background-color:#fff;
    color: #ccc;
    border: 1px solid #e6e6e6;
    border-radius: 50%;
}
.arrow:hover{
    cursor: pointer;
    color: var(--hover-color);
}
.fa-arrow-right{
    top: calc( 50% - 12px);
    right: -12px;
}
.fa-arrow-left{
    left: -12px;
    top: calc( 50% - 12px);
}
/* ============================================multi */
.multimedia{
    
    width: 1162px;
    margin: 0 auto;
    background-color: #ffde76;
    padding-bottom: 30px;
}
.multimedia .container{
    flex-direction: column;
}
.multimedia .media-header{
    margin: 30px 0;
    display: flex;
    align-items: center;
}
.multimedia .media-header .media-title{
    font-size: 2rem;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 20px;
}
.multimedia .media-header ul{
    display: flex;
}
.multimedia .media-header ul a{
    margin-left: 30px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}
.multimedia .media-header ul a:hover{
    color: #DD3333;
}
.multimedia .media-content{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.multimedia .media-content .media-content-left{
    display: block;
    width: auto;
    margin-right: 20px;
}
.multimedia .media-content .media-content-left img{
    width: 100%;
    height: 360px;
}
.multimedia .media-content .media-content-left img:hover+.media-left-title,
.multimedia .media-content .media-content-left .media-left-title:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.multimedia .media-content .media-content-left .media-left-title{
    display: block;
    margin-top: 16px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.14;
}
.multimedia .media-content .media-content-left .media-left-desc{
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    line-height: 1.43;
}

.multimedia .media-content .media-content-right{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 16px;
    width: 58%;
}
.multimedia .media-content .media-content-right .media-content-right-item{
    width: 260px;
    display: block;
}
.multimedia .media-content .media-content-right-item img{
    width: 100%;
    height: 180px;
    margin-bottom: 8px;
    object-fit: cover;
}
.multimedia .media-content .media-content-right-item img:hover+.item-title,
.multimedia .media-content .media-content-right-item .item-title:hover{
    cursor: pointer;
    color: var(--hover-color);
}

.multimedia .media-content .media-content-right-item .item-title{
    color: #333;
    font-weight: 700;
    font-size: 1.6rem;
}
/* ==============================================================daily news */
.daily-news{
    display: flex;
    padding: 30px 0 20px 0;
    width: 100%;
}
.daily-news .daily-news-main{
    display: block;
    /* width: 800px; */
    padding-right: 20px;
}
.daily-news .daily-news-main .news-main-item{
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}
.daily-news .daily-news-main .news-main-item:not(:first-child){
    padding-top: 15px;
}
.daily-news .daily-news-main .news-main-item:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
.daily-news .news-main-item img{
    min-width: 279px;
    width: 279px;
    height: 174px;
    margin-right: 15px;
}
.daily-news .news-main-item img:hover+.news-main-item-content .title a,
.daily-news .news-main-item .news-main-item-content .title:hover a{
    cursor: pointer;
    color: var(--hover-color);
}
.daily-news .news-main-item .news-main-item-content .title a{
    line-height: 1.3;
    color: #333;
    font-size: 1.92rem;
    font-weight: 700;
}
.daily-news .news-main-item .news-main-item-content .desc{
    margin-top: 5px;
    color: #888;
    font-size: 1.44rem;
    line-height: 1.4;
    font-family: 'Roboto', Ubuntu, sans-serif;
}
.daily-news-sub{
    min-width: calc(1104px - 800px);
}
.daily-news-sub .read-mostly{
    padding: 25px;
    border: 1px solid #ddd;
    width: 100%;
}
.daily-news-sub .read-mostly .title{
    margin-bottom: 15px;
    font-size: 2rem;
    line-height: 24px;
    font-weight: 700;
    color: #000;
}
.daily-news-sub .read-mostly .read-mostly-item{
    display: flex;
    max-height: 90px;
    margin-bottom: 20px;
}
.daily-news-sub .read-mostly .read-mostly-item:last-child{
    margin-bottom: 0;
}
.daily-news-sub .read-mostly .read-mostly-item img{
    width: 74px;
    height: 74px;
    object-fit: cover;
    margin-right: 12px;
    border-radius: 8px;
}
.daily-news-sub .read-mostly .read-mostly-item .item-content .title a{
    color: var(---primary-color);
}
.daily-news-sub .read-mostly .read-mostly-item img:hover+.item-content .title a,
.daily-news-sub .read-mostly .read-mostly-item .item-content .title:hover a{
    color: var(--hover-color);
}
.daily-news-sub .read-mostly .read-mostly-item .item-content .type{
    font-size: 1rem;
    line-height: 11px;
    color: #5c5c5c;
    margin-bottom: 2px;
}
.daily-news-sub .read-mostly .read-mostly-item .item-content .type:hover{
    color: #5c5c5c !important;
}

.daily-news-sub .read-mostly .read-mostly-item .item-content .title{
    font-size: 1.44rem;
    line-height: 1.4;
    color: #333;
    font-weight: 700;
}
.daily-news-sub .podcast{
    width: 100%;
    /* border-image: fill 0 linear-gradient(#0001, #000); */

    background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 47, 63, 0.5)), to(#2f2f3f));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(47, 47, 63, 0.5)), to(rgb(47, 47, 63)));
    margin-top: 20px;
    padding: 20px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.daily-news-sub .podcast .title{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
}
.daily-news-sub .podcast-item{
    display: flex;
    padding-bottom: 15px;
}   
.daily-news-sub .podcast-item img{
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}
.daily-news-sub .podcast-item .podcast-item-title a{
    color: #fff;
}
.daily-news-sub .podcast-item img:hover+.podcast-item-title a,
.daily-news-sub .podcast-item .podcast-item-title:hover a{
    cursor: pointer;
    color: var(--hover-color);
}
.daily-news-sub .podcast-item:first-child{
    flex-direction: column;
}
.daily-news-sub .podcast-item:first-child .podcast-item-title{
    margin-top: 10px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 1.4;
}
.daily-news-sub .podcast-item:not(:first-child){
    border-top: 1px solid #ddd;
    padding-top: 15px;

}
.daily-news-sub .podcast-item:not(:first-child) img{
    width: 72px;
    height: 50px;
    object-fit: cover;
}
.daily-news-sub .podcast-item:not(:first-child) .podcast-item-title{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 700;
    margin-left: 12px;
}
.daily-news-sub .podcast-item:last-child{
    padding-bottom: 0;
}

/* =========================================news-type-1============== */
.news-type-1{
    padding-top: 40px ;
}
.news-type-1 .container{
    flex-direction: column;
}
.news-type-1.type-1-last .container{
    padding-bottom: 40px;
    border-bottom: 2px solid #000;

}
.news-type-1 .type-1-header{
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 24px;
}
.news-type-1 .type-1-header a, .daily-news-title a{
    padding-left: 20px;
    color: #333;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}
.news-type-1 .type-1-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.news-type-1 .type-1-content .type-1-left{
    width: 540px;
    padding-right: 24px ;
}
.news-type-1 .type-1-content .type-1-left img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.news-type-1 .type-1-content .type-1-left .left-title a{
    color: var(---primary-color);
}
.news-type-1 .type-1-content .type-1-left img:hover+.left-title a,
.news-type-1 .type-1-content .type-1-left .left-title:hover a{
    color: var(--hover-color);
}
.news-type-1 .type-1-content .type-1-left .left-title{
    padding-top: 15px;
    margin-bottom: 8px;
    color: #333;
    line-height: 1.3;
    font-size: 24px;
    font-weight: 700;
}
.news-type-1 .type-1-content .type-1-left .left-desc{
    font-family: 'Roboto', Ubuntu, sans-serif;
    color: #444;
    font-size: 14px;
    line-height: 1.4;

}
.news-type-1 .type-1-content .type-1-center{
    width: 278px;
    padding-right: 22px;
    border-right: 1px solid #ddd;
}
.news-type-1 .type-1-content .type-1-center-item:not(:last-child){
    margin-bottom: 25px;
}
.news-type-1 .type-1-content .type-1-center-item img{
    width: 100%;
    height: 174px;
    margin-bottom: 8px;
    object-fit: cover;
}
.news-type-1 .type-1-content .type-1-center-item .center-item-title a{
    color: var(---primary-color);
}
.news-type-1 .type-1-content .type-1-center-item img:hover+.center-item-title a,
.news-type-1 .type-1-content .type-1-center-item .center-item-title:hover a{
    color: var(--hover-color);
}
.news-type-1 .type-1-content .type-1-center-item .center-item-title{
    color: #333;
    line-height: 1.4em;
    font-weight: 700;
    font-size: 1.6rem;
}

.news-type-1 .type-1-content .type-1-right{
    width: 25%;
    padding-left: 21px;
}
.news-type-1 .type-1-content .type-1-right-item{
    display: flex;
    flex-direction: row-reverse;

}
.news-type-1 .type-1-content .type-1-right-item:not(:last-child){
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.news-type-1 .type-1-content .type-1-right-item img{
    width: 74px;
    height: 74px;
    border-radius: 4px;
    object-fit: cover;

}
.news-type-1 .type-1-content .type-1-right-item .right-item-title a{
    color: var(---primary-color);
}
.news-type-1 .type-1-content .type-1-right-item img:hover+.right-item-title a,
.news-type-1 .type-1-content .type-1-right-item .right-item-title:hover a{
    color: var(--hover-color);
}
.news-type-1 .type-1-content .type-1-right-item .right-item-title{
    padding-right: 12px;
    color: #333;
    line-height: 1.4;
    font-weight: 700;
    font-size: 1.44rem;
}
/* =============================================================================== */
.news-type-2 .container{
}
.type-2-content{
    margin: 20px 0 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 20px;
    row-gap: 40px;
}
.type-2-item{
    /* display: block; */
    width: calc((1104px - 20px * 3) / 4);
}
.type-2-item .type-2-title{
    line-height: 1.0;
    font-weight: 700;
    font-size: 1.76rem;
    margin: 0 0 20px 0;
    padding-left: 20px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.type-2-subitem{
    width: 100%;
    display: flex;
    height: 90px;
}
 .type-2-subitem:nth-child(3n+1){
    display: block;
    height: 260px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.type-2-subitem:not(:nth-child(3n+1)){
    height: 90;
}
.type-2-subitem:nth-child(3n+2){
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.type-2-subitem img{
    width: 100%;
    height: 175px;
    display: block;
}
.type-2-subitem img:hover+.subitem-title a,
.type-2-subitem .subitem-title:hover a{
    color: var(--hover-color);
}
.type-2-subitem:first-child img{
    margin-bottom: 8px;
    object-fit: cover;
}
.type-2-subitem:not(:nth-child(3n+1)) img{
    width: 105px;
    height: 70px;
    margin-right: 8px;
    object-fit: cover;

}
.type-2-subitem .subitem-title a{
    color: #333;
}
.type-2-subitem:nth-child(3n+1) .subitem-title{
    font-size: 1.728rem;
    line-height: 1.4;
    font-weight: 700;
}
.type-2-subitem:not(:nth-child(3n+1)) .subitem-title{
    font-size: 13.44px;
    font-weight: 700;
    line-height: 1.3;
}
/* ============================================================================= */
.magazine{
    width: 100%;
    background-color: #eee;
    padding-bottom: 38px;
    margin-bottom: 30px;
}
.magazine .container{
    flex-direction: column;
}
.magazine .magazine-title{
    margin: 40px 0 30px 0;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}
.magazine .maga-content{
    display: flex;
    justify-content: space-between;
}
.maga-item-1{
    background-image: url(https://photo.znews.vn/w1000/Uploaded/kbfoplb/2024_04_02/DSC_0785_2_znews.jpg);
}
.maga-item-2{
    background-image: url(https://photo.znews.vn/w1000/Uploaded/ofh_btgazspf/2024_03_13/img_9154_2384.jpg);
}
.maga-item-3{
    background-image: url(https://photo.znews.vn/w1000/Uploaded/spluaaa/2024_04_06/iPhone_16_Side_Feature.jpg);
}
.maga-item-4{
    background-image: url(https://photo.znews.vn/w1000/Uploaded/spluaaa/2024_04_04/02cli_BRIGHTERCLOUDS_new_lfkp_su.jpg);
}
.magazine .maga-item{
    position: relative;
    width: 256px;
    height: 434px;
    border: 1px solid #5F5C4C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-repeat: no-repeat;
    transition: background-size 3s ease;
    background-position: center;
    background-size: auto 100%;
    border-image: fill 0 linear-gradient(#0001, #000);
}

.maga-item:hover {
    background-size: auto 118%;
    cursor: pointer;
    color: red;
}
.maga-item:hover .maga-item-title{
    color: #ffde76  ;
}
.maga-item:hover .sign{
    background-color: #ffde76;
    color: #000;
}



.maga-item::before{
    position: absolute;
    content: "";
    width: 46px;
    height: 4px;
    background-color: #ffde76;
    /* left: 84px; */
    top: calc(434px/2);
    /* margin-left: 78px; */

}
.maga-item .categorize{
    width: 70px;
    padding: 4px 16px;
    background-color: #ffde76;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #5F5C4C;
    border-top: 0;
}
.maga-item .maga-item-title{
    min-height: 116px;
    margin-top: 184px;
    font-size: 2.1rem;
    color: #fff;
    font-weight: bold;
    line-height: 1.3;
    padding: 0 24px;
    text-align: center;
    font-family: 'Noto Serif';
}
.maga-item .sign{
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 180px;
    background-color: #000;
    color: #ffde76;
}
/* ========================================================================== */
.video .container{
    flex-direction: column;
    margin-bottom: 60px;
}
.video .video-title{
    margin: 0 0 30px 0;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    display: inline;
    width: 100%;
}
.video .video-title:hover{
    cursor: pointer;
    color: var(--hover-color);
}
.video .video-content{
    display: flex;
    height: 442px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}
.video .video-main{
    display: block;
    width: 808px;
}
.video .video-main:hover{
    cursor: pointer;
}
.video .video-main{
    width: 70%;
    height: 100%;
}
.video .video-main video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video .video-list{
    background-color: #eee;
    padding-left: 10px;
    height: 442px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 30%;
}
.video .video-item{
    position: relative;
    display: flex;
    width: 280px;
    height: 80px;
    margin-top: 14px;
    overflow: hidden;
    font-size: 13.44px;
    line-height: 1.3;
    font-weight: bold;
}
.video-item-title a{
    color: var(---primary-color);
}
.video .video-item img:hover+ i + .video-item-title a,
.video .video-item .video-item-title:hover a{
    color: var(--hover-color);
}
.video .video-item:last-child{
    margin-bottom: 14px;
}
.video .video-item .start-icon{
    position: absolute;
    width: 24px;
    height: 24PX;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #096ffa;
    bottom: 0;
    font-size: 16px;
}
.video .video-item img{
    /* position: relative; */
    width: 120px;
    height: 86px;
    object-fit: cover;
    margin-right: 4px;
}
/* ============================================================================================== */
.footer{
    background-color: #eee;
    padding: 20px 0;
}
.footer table th, .footer table td ,.footer table a{
    line-height: 1.7;
    font-size: 12px;
    color: #888;
}
.footer td:first-child{
    padding-right: 16px; /* Add padding within cells */
}
/* =========================================================responsive=============================================================== */
@media screen and (min-width: 1024px) and (max-width: 1161px) { 
    
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    
}
@media screen and (max-width: 768px) {
    
    
}






/*=================================================Pages====================================================================*/
.page-main .container{
    width: 1014px;
    flex-direction: column;
}
.page-main .page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 20px 0;
    border-bottom: 2px solid #333333;
}
.page-main .page-header h1{
    font-size: 48px;
}
.page-main .page-sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.page-main .page-sub-header li{
    margin-right: 20px; 
}
.page-main .page-sub-header li:last-child{
    margin-right: 0; 
}
.page-main .page-sub-header a{
    font-size: 14px; 
}
.page-main .page-content{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-top: 25px; 
}

.page-main .page-content .page-content-left{
    min-width: 668px;
    max-width: 668px;
    padding-right: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.page-main .page-content .page-content-left img{
    width: 100%;
    height: 424px;
}
.page-main .page-content .page-content-left .title{
    margin: 15px 0 10px 0;
    font-size: 28px;   
    line-height: 1.3;
}
.page-main .page-content .page-content-left .desc{
    color: #888;
    line-height: 1.5;
    font-size: 16px;
}
.page-main .page-content .page-content-right{
    padding-left: 20px;
}
.page-main .page-content-right .page-content-right-item{
    padding: 20px 0;
    border-top: 1px solid #ddd; 
}
.page-main .page-content-right .page-content-right-item:first-child{
    padding-top: 0;
    border: 0;
}
.page-main .page-content-right .page-content-right-item img{
    width: 100%;
    height: 212px;
}
.page-main .page-content-right .page-content-right-item .title{
    margin-top: 10px;
    color: #333;
    font-size: 18px;
}
.page-main .page-content-right .page-content-right-item.items{
    display: flex;
    flex-direction: row-reverse;
}
.page-main .page-content-right .page-content-right-item.items img{
    width: 160px;
    height: 96px;
}
.page-main .page-content-right .page-content-right-item.items .title{
    color: #292929;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.page-main .page-subcontent{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 50px;
}
.page-main .page-subcontent .page-subcontent-item{
    width: 240px;
}
.page-main .page-subcontent .page-subcontent-item img{
    width: 100%;
    height: 160px;
}
.page-main .page-subcontent .page-subcontent-item .title{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}
.page-inform{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.page-inform .page-inform-item{
    display: flex;
    flex-direction: column;

    padding: 0 44px;

    border-right: 1px solid #ccc;  
}
.page-inform .page-inform-item:first-child{
    padding-left: 10px;
    width: 246px;
}
.page-inform .page-inform-item:not(:first-child):not(:last-child){
    width: 386px;
}
.page-inform .page-inform-item:last-child{
    padding-right: 0;
    border-right:  0;
    width: calc(100% - 246px - 386px);
}
.page-inform .page-inform-item .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    font-weight: 700;
}
.page-inform .page-inform-item .title p{
    color: #096ffa;
    font-size: 8px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
}
.page-inform .page-inform-item .desc{
    display: flex;
    justify-content: space-between;
}
.page-inform .page-inform-item:not(:first-child):not(:last-child) .desc-item{
    display: flex;
}

.page-inform .page-inform-item .desc-item .subtitle{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
}
.page-inform .page-inform-item .desc-item .subdesc{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.page-inform .page-inform-item .title strong{
    color: #99A5C1;   
}
.page-inform .page-inform-item .desc-item strong{
    padding: 0 4px;
    color: #99A5C1;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}
