/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 30, 2024, 2:05:42 PM
    Author     : lengo
*/

/*=================================================================================================================================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
ul, li{
    list-style-type: none;
}
a{  
    color: #292929;
    text-decoration: none;
    cursor: pointer;
}
a:hover, p:hover a, img:hover+p a, img:hover+.title a{
    color: #04C3FA !important;
    cursor: pointer;
}
img{
    cursor: pointer;
}
.container{
    display: flex;
    width: 1104px;
    margin: 0 auto;
}
/*=============================================*/
.header{
    justify-content: center;;
    align-items: center;
    border-bottom: 1px solid #ccc;
    color: rgb(68,68,68);
    position: sticky;
    top: 0;
    background-color: #fff;
}
.header .container {
    justify-content: space-between;
    align-items: center;
}

.header .navigate ul, .header .navigate ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .navigate a{
    padding: 16px 4px 13px 4px;
    font-weight: 700;
    margin: 0 8px;
    font-size: 14.4px;
    color: #444444;
    border-bottom: 3px solid #fff;
}
.header .navigate a .fa-solid{
    font-size: 14.4px;
}
.header .navigate a:hover{
    color: #04C3FA;
    border-color: #04C3FA;
}
.header a.active{
    color: #04C3FA;
    border-color: #04C3FA;
}
.header .logo{
    width: 180px;
    height: 100%;
}
.header .search{
    font-size: 18px;
    font-weight: 300;
    color: rgb(68,68,68);
}
/*================================================================================*/
.main{
    padding-top: 50px;
}
.main .container{
    justify-content: space-between;
}

.main .left-main{
    max-width: 312px;
}
.main .left-main .left-main-item{
    display: flex;
    padding-bottom: 20px;
}
.main .left-main .left-main-item:not(:first-child){
    padding-top: 12px;
    border-top: 1px solid #c6c6c6;
}
.main .left-main .left-main-item img{
    width: 40%;
}
.main .left-main .left-main-item .title{
    margin-left: 12px;
    line-height: 1.4;
    font-weight: 700;
    font-size: 12.8px;
}
.main .left-main .left-main-item:hover{
    color: #04C3FA;
    cursor: pointer;
}
.main .center-main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    max-width: 492px;
}
.main .center-main img{
    width: 100%;
    height: 328px;
}
.main .center-main .title{
    padding: 15px 0 8px 0;
}
.main .center-main:hover{
    color: #04C3FA;
    cursor: pointer;
}
.main .center-main .desc{
    font-size: 14px;
    color: #444;
    line-height: 1.6;
}
.main .center-main li{
    margin: 10px 0 5px 0;
    list-style-type: disc;
    
}
.main .center-main li a{
    font-size: 14.4px;
    color: #333;
    font-weight: 700;
}
.main .center-main li a:hover{
    color: #04C3FA;
    cursor: pointer;
}
.main .right-main{
    max-width: 258px;
}
.main .right-main-item{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}
.main .right-main-item img{
    width: 100%;
    height: 174px;
    margin-bottom: 8px;
}
.main .right-main-item:hover{
   color: #04C3FA;
   cursor: pointer;
}
/*=================================================Pages====================================================================*/
.page-main .container{
    width: 1014px;
    flex-direction: column;
}
.page-main .page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 20px 0;
    border-bottom: 2px solid #333333;
}
.page-main .page-header h1{
    font-size: 48px;
}
.page-main .page-sub-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.page-main .page-sub-header li{
    margin-right: 20px; 
}
.page-main .page-sub-header li:last-child{
    margin-right: 0; 
}
.page-main .page-sub-header a{
    font-size: 14px; 
}
.page-main .page-content{
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-top: 25px; 
}

.page-main .page-content .page-content-left{
    min-width: 668px;
    max-width: 668px;
    padding-right: 20px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.page-main .page-content .page-content-left img{
    width: 100%;
    height: 424px;
}
.page-main .page-content .page-content-left .title{
    margin: 15px 0 10px 0;
    font-size: 28px;   
    line-height: 1.3;
}
.page-main .page-content .page-content-left .desc{
    color: #888;
    line-height: 1.5;
    font-size: 16px;
}
.page-main .page-content .page-content-right{
    padding-left: 20px;
}
.page-main .page-content-right .page-content-right-item{
    padding: 20px 0;
    border-top: 1px solid #ddd; 
}
.page-main .page-content-right .page-content-right-item:first-child{
    padding-top: 0;
    border: 0;
}
.page-main .page-content-right .page-content-right-item img{
    width: 100%;
    height: 212px;
}
.page-main .page-content-right .page-content-right-item .title{
    margin-top: 10px;
    color: #333;
    font-size: 18px;
}
.page-main .page-content-right .page-content-right-item.items{
    display: flex;
    flex-direction: row-reverse;
}
.page-main .page-content-right .page-content-right-item.items img{
    width: 160px;
    height: 96px;
}
.page-main .page-content-right .page-content-right-item.items .title{
    color: #292929;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
}

.page-main .page-subcontent{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 50px;
}
.page-main .page-subcontent .page-subcontent-item{
    width: 240px;
}
.page-main .page-subcontent .page-subcontent-item img{
    width: 100%;
    height: 160px;
}
.page-main .page-subcontent .page-subcontent-item .title{
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}
.page-inform{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.page-inform .page-inform-item{
    display: flex;
    flex-direction: column;

    padding: 0 44px;

    border-right: 1px solid #ccc;  
}
.page-inform .page-inform-item:first-child{
    padding-left: 10px;
    width: 246px;
}
.page-inform .page-inform-item:not(:first-child):not(:last-child){
    width: 386px;
}
.page-inform .page-inform-item:last-child{
    padding-right: 0;
    border-right:  0;
    width: calc(100% - 246px - 386px);
}
.page-inform .page-inform-item .title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    font-weight: 700;
}
.page-inform .page-inform-item .title p{
    color: #096ffa;
    font-size: 8px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
}
.page-inform .page-inform-item .desc{
    display: flex;
    justify-content: space-between;
}
.page-inform .page-inform-item:not(:first-child):not(:last-child) .desc-item{
    display: flex;
}

.page-inform .page-inform-item .desc-item .subtitle{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-right: 10px;
    margin-bottom: 4px;
    white-space: nowrap;
}
.page-inform .page-inform-item .desc-item .subdesc{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}
.page-inform .page-inform-item .title strong{
    color: #99A5C1;   
}
.page-inform .page-inform-item .desc-item strong{
    padding: 0 4px;
    color: #99A5C1;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}